<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style_setting.css">
    <title>Settings 🔧</title>
</head>
<style>
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display&display=swap");

.wrapper {
  /* max-width: 375px; limit the maximum width */
  height: 100vh;
  width: 100%;
  background: #FFFEFE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* border-radius: 30px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}


/* .cancel {
  font-size: 2vh;
  font-family: "Open Sans", sans-serif;
  font-style: light;
  border: none;
  padding: 0.4vh 0.8vh;
  position: absolute;
  top: 1vh;
  cursor: pointer;
}

.cancel {
  top:2vh;
  left: 2vh;
  background-color: #ffffff;
  color: #000000;
} */


.arrow-left {
  position: absolute;
  top: 3%;
  left: 3vh;
  cursor: pointer;
  background-color: transparent;
  border:none;
 
}


h1{
  text-align: center;
  font-size: 4vh;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.logout-container {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border:none;
  top: 16vh;
  display: flex;
}

p{
  font-size: 2vh;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-top: 3vh;
  margin-bottom: 2vh;
  margin-left: 2vh;
}
a{
  font-size: 2vh;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-top: 3vh;
  margin-bottom: 2vh;
  margin-left: 9vh;
  text-decoration: none;
  color: #9a9a9a;
}

a::hover{
  color: #000000;
}
</style>
<body>
<div class="wrapper">
   <button class="arrow-left" onclick="goBack()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          width="18px"
          height="18px"
        >
          <path
            fill="currentColor"
            d="M314.6,449.6L65.9,256l248.7-193.6c6.5-5.1,6.9-14.5,1.8-21s-14.5-6.9-21-1.8l-271.4,212c-3.7,2.9-5.7,7.4-5.7,12.1s2,9.2,5.7,12.1l271.4,212c2.8,2.2,6.2,3.3,9.6,3.3c3.4,0,6.7-1.1,9.6-3.3C321.1,464.1,321.1,454.7,314.6,449.6z"
          />
        </svg>
      </button> 
      <h1> Settings🔧</h1>
      <div class="logout-container">
      <p class="logout">Do you want to logout ?</p>
        <a href="/auth/logout" class="logout-btn">Logout</a>
      </div>
</div>
</body>
<script>
    function goBack() {
      window.history.back();
    }
  </script>
</html>