@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display&display=swap");

.wrapper {
  /* max-width: 375px; limit the maximum width */
  height: 100vh;
  width: 100%;
  background: #fffefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* border-radius: 30px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.background-container {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-top: 5vh;
  padding-bottom: 5px;
  box-sizing: border-box;
  border-radius: 0 20px 20px;
  height: 37vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.arrow-left {
  position: absolute;
  top: 4%;
  left: 3vh;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.textarea-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

textarea {
  border: none;
  border-radius: 1vh;
  background-color: transparent;
  resize: none;
  font-size: 4vh;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  
}

textarea::placeholder {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 3vh;
  font-weight: 800;
  text-align: center;
  /* text-decoration: underline solid #000000; */
}

textarea:focus {
  outline: none;
}

.calendar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.icon-input-container {
  display: flex;
  align-items: center;
  background-color: transparent;
}


.select-container {
  display: flex;
  justify-content: center;
  margin-top: 0vh;
  background-color: transparent;
}

select {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4vh;
  font-weight: 800;
  padding: 0.5rem;
  border-radius: 0.5vh;
  border: none;
  background-color: transparent;
  margin-top: 2vh;
  text-align: center;
}

option[value="low"] {

  color: #00a0fa;
}

option[value="medium"] {
  color: #00b955;
}

option[value="high"] {
  color: #ff815a;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 3.4vh;
  line-height: 4vh;
  text-align: center;
  color: #000000;
  margin-top: 6vh;
  padding-left: 4vh;
}


.Create-Goal {
  display: block;
  margin:auto;
  background: #8083ff;
  border-radius: 2.5vh;
  border: none;
  padding: 1vh 1vh;
  font-size: 1rem;
  cursor: pointer;
  width: 19.3vh;
  height: 6vh;
  font-family: "Open sans", sans-serif;
  color: #ffffff;
  font-size: 2vh;
  bottom: 5vh;
}

.Create-Goal:hover {
  background: #8083ff;
  color: #ffffff;
}
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 2vh;
}

.setDueDate{
  font-size: 2.4vh;
  color: #000000;
  text-align: center;
}

#dueDate{
  text-align: center;
}

.date-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 2vh;
}

textarea::placeholder {
  font-size: 2vh; 
}

[type="date"]::-webkit-datetime-edit,
[type="date"]::-webkit-datetime-edit-fields-wrapper,
[type="date"]::-webkit-datetime-edit-text {
  color: #8083ff;
  font-family: 'Open Sans', sans-serif;
}

[type="date"]{
  border: none;
  background-color: transparent;
  color: #8083ff;
  font-size: 2.4vh;
  align-items: center;
}

.newBucketTitle{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2vh;
  line-height: 4vh;
  text-align: center;
  color: #8083ff;
  margin-top: 10%;
}

p {
  text-align: center;
  font-size: 2.4vh;
}

textarea.create_post::placeholder {
  font-size: 26px; /* Adjust the font size as desired */
}

textarea.create_post {
  width: 100%;
  height: 3%;

}


.tag-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  margin-top: 10%;
  
}
/* 
.tag-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 7vh; 
  
} */

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.2vh solid #8083ff;
  border-radius: 50%;
  width: 4vh;
  height: 4vh;
  outline: none;
  margin-right: 10px;
  position: relative;
  /* align-items: center; */
  background: #ffffff;
  justify-content: center;

}

input[type="checkbox"]:checked {
  background: #8083ff;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vh;
  font-family: Arial, sans-serif;  /* this is important as not all fonts support the checkmark character */
}

input[type="checkbox"]:checked:before {
  content: "\2713";
  color: #ffffff;
}

label{
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2.5vh;
  text-align: center;
  margin: 1vh;
  align-items: center;
  display: flex;
  color: #232328;
}

.tag-container {
  display: flex;
  align-items: center;
  border: #8083ff solid 0.2vh;
  border-radius: 1vh;
  /* padding: -1vh -1vh; */
  width: 100%;
  margin-bottom: 1vh;
}


/* .checkmark {
  position: relative;
  height: 4vh;
  width: 4vh;
  border: 0.2vh solid #8083ff;
  border-radius: 50%;
  padding: 0vh 2vh;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
  margin-right: 1vh;

} */



input[type="checkbox"]:checked:before {
  content: "\2713";
  display: block;
  text-align: center;
  font-size: 3vh;
  color: #ffffff;
}


/* ANIMATION */
#bucket {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: bucketAnimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  z-index: 10;
}

#plusOne {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: bold;
  opacity: 0;
  animation-name: plusOneAnimation;
  animation-duration: 2s;
  animation-delay: 0.5s; /* Delay this animation a bit so it appears after the bucket */
  animation-fill-mode: forwards;
  z-index: 11;
}

@keyframes bucketAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes plusOneAnimation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}