.wrapper {
  height: 100vh;
  width: 100%;
  background: #fffefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.navbar img {
  margin: 0 1vh;
}

.navbar a[href="/search"] {
  margin-right: 4vh;
}

.navbar a[href="/notes"] {
  margin-left: 4vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 8vh;
  background-color: #ffffff;
  box-shadow: 0vh 0vh 1vh rgba(128, 131, 255, 0.75);
  border-radius: 1vh;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  border: 2vh solid var(-clr);
}

.circle:hover {
  background: linear-gradient(
      270deg,
      rgba(227, 224, 243, 0.245) 0%,
      rgba(128, 131, 255, 0.255) 100%
    ),
    #6467fa;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5.5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 9vh;
  height: 9vh;
  transition: background 0.5s ease;
  border-radius: 61%;
  background: linear-gradient(
      270deg,
      rgba(227, 224, 243, 0.245) 0%,
      rgba(128, 131, 255, 0.255) 100%
    ),
    #8083ff;
}

a[href="/feeds/buckets?show=inprogress"] img {
  width: 5vh;
  height: 5vh;
}

.input-wrap {
  position: relative;
  width: 90%;
  margin: 3% auto;
  display: flex;
  justify-content: center;
}

#search-input {
  width: 80%;
  padding: 1em 2em 1em;
  border: 2px solid #9b99ff;
  border-radius: 20px;
  color: grey;
  box-sizing: border-box;
}

#search {
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 0.5em 1em;
  cursor: pointer;
}

#search-input::placeholder {
  color: rgb(65, 62, 62);
}
#tag-buttons {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
  padding: 1vh 0;
  align-items: center;
  gap: 2.8%;
  margin-left: 4%;
}

.button-value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #9b99ff;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  padding: 4vh 4vh;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.button-value .tag-icon {
  width: 20px;
  height: 20px;
  margin-right: 1vh;
}

.tag-name {
  font-size: 70%;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  margin-top: 1vh;
  margin-left: 1vh;
  margin-right: 1vh;
  text-overflow: ellipsis;
  max-width: 100px;
  white-space: normal;
  text-align: center;
}
.button-value.active {
  background-color: #6759ff;
  color: #ffffff;
}

h1 {
  margin-top: 4vh;
  margin-left: 4%;
  font-size: 3.5vh;
  font-family: "Open Sans", sans-serif;
  color: #8083ff;
}

h2 {
  margin-top: 4vh;
  margin-bottom: 0vh;
  margin-left: 4%;
  font-size: 2.5vh;
  font-family: "Open Sans", sans-serif;
  color: #9b99ff;
}

#user-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 1vh 0;
  gap: 2%;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-left: 4%;
}
.user-picture {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 2vh;
  margin-right: 2vh;
}

.followers-username {
  font-size: 2vh;
  font-family: "Open Sans", sans-serif;
  color: #8083ff;
  margin-right: 2vh;
  white-space: nowrap;

  text-align: center;
}

[href="/search/tag/1"] {
  text-decoration: none;
  background-image: url("../styles/images/travel.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
[href="/search/tag/2"] {
  text-decoration: none;
  background-image: url("../styles/images/adventure.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
[href="/search/tag/3"] {
  text-decoration: none;
  background-image: url("../styles/images/personalGrowth.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
[href="/search/tag/4"] {
  text-decoration: none;
  background-image: url("../styles/images/sports.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
[href="/search/tag/5"] {
  text-decoration: none;
  background-image: url("../styles/images/music.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
[href="/search/tag/6"] {
  text-decoration: none;
  background-image: url("../styles/images/food.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
[href="/search/tag/7"] {
  text-decoration: none;
  background-image: url("../styles/images/carrer.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

[href="/search/tag/8"] {
  text-decoration: none;
  background-image: url("../styles/images/study.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
[href="/search/tag/9"] {
  text-decoration: none;
  background-image: url("../styles/images/date.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
[href="/search/tag/10"] {
  text-decoration: none;
  background-image: url("../styles/images/health.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
[href="/search/tag/11"] {
  text-decoration: none;
  background-image: url("../styles/images/finance.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
[href="/search/tag/12"] {
  text-decoration: none;
  background-image: url("../styles/images/spiritual.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
[href="/search/tag/13"] {
  text-decoration: none;
  background-image: url("../styles/images/family.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
[href="/search/tag/14"] {
  text-decoration: none;
  background-image: url("../styles/images/friends.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.tag-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5vh;
}
