@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=SF+Pro+Display&display=swap");

.wrapper {
  /* max-width: 375px; limit the maximum width */
  height: 100vh;
  width: 100%;
  background: #fffefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* border-radius: 30px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.background-container {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding-top: 5vh;
  padding-bottom: 5px;
  box-sizing: border-box;
  border-radius: 0 20px 20px;
  height: 37vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.arrow-left {
  position: absolute;
  top: 3vh;
  left: 3vh;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.textarea-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

textarea {
  border: none;
  border-radius: 1vh;
  background-color: transparent;
  padding-left: 2vh;
  resize: none;
  font-size: 18px;
}

textarea::placeholder {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 3vh;
  font-weight: 800;
  text-align: center;
  /* text-decoration: underline solid #000000; */
}

textarea:focus {
  outline: none;
}

.calendar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

.icon-input-container {
  display: flex;
  align-items: center;
  background-color: transparent;
}


.select-container {
  display: flex;
  justify-content: center;
  margin-top: 0vh;
  background-color: transparent;
}

select {
  font-family: "Open Sans", sans-serif;
  font-size: 2.4vh;
  font-weight: 800;
  padding: 0.5rem;
  border-radius: 0.5vh;
  border: none;
  background-color: transparent;
  margin-top: 2vh;
  text-align: center;
}

option[value="low"] {

  color: #00a0fa;
}

option[value="medium"] {
  color: #00b955;
}

option[value="high"] {
  color: #ff815a;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 3.4vh;
  line-height: 4vh;
  text-align: center;
  color: #000000;
  margin-top: 6vh;
  padding-left: 4vh;
}


.Create-Goal {
  display: block;
  margin:auto;
  background: #8083ff;
  border-radius: 2.5vh;
  border: none;
  padding: 1vh 1vh;
  font-size: 1rem;
  cursor: pointer;
  width: 19.3vh;
  height: 6vh;
  font-family: "Open sans", sans-serif;
  color: #ffffff;
  font-size: 2vh;
  bottom: 5vh;
}

.Create-Goal:hover {
  background: #8083ff;
  color: #ffffff;
}
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 2vh;
}

.setDueDate{
  font-size: 2.4vh;
  color: #000000;
  text-align: center;
}

#dueDate{
  text-align: center;
}

.date-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-top: 2vh;
}

textarea::placeholder {
  font-size: 2vh; 
}

[type="date"]::-webkit-datetime-edit,
[type="date"]::-webkit-datetime-edit-fields-wrapper,
[type="date"]::-webkit-datetime-edit-text {
  color: #8083ff;
  font-family: 'Open Sans', sans-serif;
}

[type="date"]{
  border: none;
  background-color: transparent;
  color: #8083ff;
  font-size: 2.4vh;
  align-items: center;
}

.newBucketTitle{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2vh;
  line-height: 4vh;
  text-align: center;
  color: #8083ff;
  margin-top: 6vh;
}

p {
  text-align: center;
  font-size: 2.4vh;
}

textarea.create_post::placeholder {
  font-size: 16px; /* Adjust the font size as desired */
}

textarea.create_post {
  width: 300px; /* Adjust the width as desired */
}


.tag-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  margin-top: 18vh;
  
}
/* 
.tag-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 7vh; 
  
} */

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0.2vh solid #8083ff;
  border-radius: 50%;
  width: 4vh;
  height: 4vh;
  outline: none;
  margin-right: 10px; 
}

input[type="checkbox"]:checked {
  background: #8083ff;
  border: 0.2vh solid #8083ff;
  border-radius: 50%;
}

label{
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 3.5vh;
  text-align: center;
  margin: 1vh;
  color: #232328;
}

.tag-container {
  display: flex;
  align-items: center; 
  border: #8083ff solid 0.2vh;
  border-radius: 1vh;
  padding: 1vh 1vh;
  margin-bottom: 1vh;
}
input[type="checkbox"] {
  display: none;
}

.checkmark {
  position: relative;
  height: 4vh;
  width: 4vh;
  border: 0.2vh solid #8083ff;
  border-radius: 50%;
  padding: 0vh 2vh;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
  margin-right: 1vh;

}

input[type="checkbox"]:checked ~ .checkmark {
  background-color: #ffffff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 1.2vh;
  top: 0.6vh;
  width: 1.5vh;
  height: 2.5vh;
  border: solid #8083ff;
  border-width: 0 0.3vh 0.3vh 0;
  transform: rotate(45deg);
  transition: all 0.3s ease;
}

input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}

/* ANIMATION */
@keyframes falling {
  0% { top: 0; opacity: 1; }
  100% { top: 50px; opacity: 0; }
}

